<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h2 class="mb-4">Create Auction</h2>

                    @if (errorMessage) {
                        <div class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                    }

                    <div class="mb-3">
                        <label class="form-label">
                            Title
                        </label>

                        <input type="text" class="form-control" [(ngModel)]="request.title" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Description
                        </label>

                        <textarea rows="5" class="form-control" [(ngModel)]="request.description">
                        </textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label"> Base Price </label>

                        <input
                            type="number"
                            class="form-control"
                            [(ngModel)]="request.basePrice"
                        />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"> Start Time </label>

                                <input
                                    type="datetime-local"
                                    class="form-control"
                                    [(ngModel)]="request.startTime"
                                />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label"> End Time </label>

                                <input
                                    type="datetime-local"
                                    class="form-control"
                                    [(ngModel)]="request.endTime"
                                />
                            </div>
                        </div>
                    </div>

                    <button
                        class="btn btn-dark w-100"
                        [disabled]="loading"
                        (click)="createAuction()"
                    >
                        @if (loading) {
                            <span class="spinner-border spinner-border-sm"> </span>
                        }

                        Create Auction
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
